<form method="get" action="/quizes">
 	<input type="text" name="search" value=""/>
 	<input type="submit" value="Buscar">
</form><br>

<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
<tr>
<td class="pregunta_list">
		<b>Pregunta:</b> <a href="quizes/<%= quizes[i].id %>" class="pregunta_list"><%= quizes[i].pregunta %></a>
		<br>
		<b>Tema:</b><%= quizes[i].tema %>
		</td>
		<%if(session.user){%>
		<td><a href="quizes/<%= quizes[i].id %>/edit">
		<button>editar</button></a></td>
		 <td>
		 <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
		 <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
		 borrar
		 </button>
		 </form>
		</td>
	 <%}%>
	</tr>
<% } %>
</table> 
<%if(session.user){%>
  <a href="/quizes/new"><button>Crear pregunta</button></a>
<%}%>