<h3>Estadísticas:</h3>
<div class='centraTabla'>
	<table>
		<tr>
			<td><strong>Número de preguntas:</strong></td>
			<td><%= estadistica.preguntas %></td>
		</tr>
		<tr>
			<td><strong>Número de comentarios totales:</strong></td>
			<td><%= estadistica.comentarios %></td>
		</tr>
		<tr>
		<td><strong>Medía de comentarios por pregunta:&nbsp;</strong></td>
			<td><%= estadistica.media_comentarios %></td>
		</tr>
		<tr>
			<td><strong>Preguntas con comentarios:</strong></td>
			<td><%= estadistica.preguntas_con_comentarios %></td>
		</tr>
		<tr>
			<td><strong>Preguntas sin comentarios:</strong></td>
			<td><%= estadistica.preguntas_sin_comentarios %></td>
		</tr>
	</table>
</div>

<p>&nbsp;</p>
<p><a href="/quizes">Volver</a></p> 
